[Desktop Entry]
Type=Application
Name=rWifi
Comment=A project template for creating unified local terminal utilities in Rust
Exec=rwifi
Icon=rwifi
Terminal=true
Categories=Utility;System;
